.menu {
    display: none;
    position: absolute;
    z-index: 999;
    padding: 1.25vw;
    padding-right: 2vw;
    background-color: var(--cm-bg-color);
}

p:hover {
    background-color: silver;
}

.menu[active] {
    display: flex;
    flex-direction: column;
}

.owner {
    display: none;
}

.owner[active] {
    display: flex;
    flex-direction: column;
}

.main {
    border-bottom: 1px solid white;
}

.red {
    color: red;
}